body{
    padding: 0;
    margin: 0;
}

.margin-top-0{
    margin-top: 0;
}
.margin-bottom-0{
    margin-bottom: 0;
}
.spacing100{
    height: 100px;
}
.spacing10{
    height: 10px;
}
.spacing50{
    height: 50px;
}
.padding-right-0{
    padding-right: 0px;
}
.container95{
    margin:0 auto;
    max-width:1280px;
    width:95%
}
@media only screen and (min-width: 601px){
    .container95{
        width:95%
    }
}
@media only screen and (min-width: 993px){
    .container95{
        width:90%
    }
}
/*------------------section search---------------------*/
.city{
    height: 550px;
    background-image: url("../images/city.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.row .input-field input{
    border-bottom: 1px solid rgba(255, 255, 255, 0.50) !important;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.50) !important
}
.row .input-field input:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important
}
input[type=text]:not(.browser-default).validate+label {
    color: rgba(255, 255, 255, 0.50) !important;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: black !important; 
}
.select-dropdown{
    color: rgba(255, 255, 255, 0.50) !important;
}
.select-wrapper .caret{
    fill: rgba(255, 255, 255, 0.50) !important;
}
.buscar{
    margin-top: 15px;
}
.transparent{
    background-color: transparent;
    border: 1px solid #fff;
}
.background-transparent{
    background-color: transparent;
}
.waves-effect.waves-white .waves-ripple {
     background-color: rgba(255, 255, 255, 0.65);
}
/*---------------------Category------------------------------*/
.category{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid salmon;
}
.subcategory{
    width: 180px;
    height: 180px;
    margin: auto;
    margin-top: 9px;
    border: 1px solid white;
}
.content{
    margin-top: 45px;
}
.salmon-text{
    color: salmon;
}
.carousel-item:hover .category{
    background-color: salmon;
}
.carousel-item:hover .subcategory{
    border: 1px solid white;
}
.carousel-item:hover .salmon-text{
    color: white;
}
.maps{
    background-image: url(../images/maps.png);
    background-size: cover;
}
.carousel-category{
    height: 300px !important;
}
/*----------------Evento--------------------------*/
.evento{
    padding-left: 0px;
}
.card .card-content-event{
    padding: 10px;
}
span.badge.new{
    margin-left: 0;
}
span.badge.new:after{
    content: "";
}
i.time{
    margin-right: 5px;
}
i.time-event{
    margin-right: 0px;
    margin-left: -10px;
}
.card .card-content-info{
    padding: 10px;
}
.date-event{
    padding-bottom: 5px;
}
.icon-text{
    position: absolute;
}
/*---------------Comentarios----------------------*/
.comentarios{
    background-image: url(../images/party.jpg);
    background-size: cover;
    /*height: 350px;*/
}
/*------------------Destacados------------------------*/
.card .card-content-place{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
i.social{
    font-size: 18px;
    padding-right: 18px;
}
.salmon{
    background-color: salmon !important;
}
span.badge.new.web{
    background-color: salmon !important;
}
span.badge.new.fb{
    background-color: salmon !important;
}
span.badge.new.twi{
    background-color: salmon !important;
}
span.badge.new.ins{
    background-color: salmon !important;
}
span.badge.new.web:hover{
    background-color: #4caf50 !important;
}
.gris-icon{
    color: #aeb1be !important;
}
i.gris-icon:hover{
    color: salmon !important;
}

/*--------------------Categorias Page--------------------------------*/
.categorias{
    height: 350px;
    background-image: url("../images/city.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.card-horizontal .card-image img{
    height: 250px !important;
}
.lista{
    padding-left: 10px;
    padding-right: 10px;
}
/*--------------------Establecimientos----------------------------*/
.card .card-image .icon-favorite{
    top: 0 !important;
    right: 0 !important;
    padding: 10px !important;
}
.num-likes{
    font-size: 14px;
    left: 12px;
    top: 40px;
    position: absolute;
}
/*modal-info*/
.info{
    padding: 0 !important;
}
.maps-info{
    width: 100% !important;
    height: 250px!important;
}
.justify{
    text-align: justify;
}
.content-model{
    padding: 0 20px 0 20px;
}
.modal{
    width: 75% !important;
    max-height: 85% !important;
} 

.modal.modal-fixed-footer {
    height: 85% !important;
}
.row-modal-info{
    padding-bottom: 0;
}
.text-info{
    margin-top: 0;
}

/*Destacado*/
.section-destacado{
    margin-top: -50px;
}
.background-destacado{
    height: 200px;
    background-image: url("../images/city.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Evento*/
.evento1{
    background-image: url(../images/dave-lastovskiy-127581-unsplash.jpg);
    background-size: cover;
    height: 550px;
    opacity: 0.7;
}
.evento2{
    background-image: url(../images/michael-discenza-199756-unsplash.jpg);
    background-size: cover;
    height: 550px;
    opacity: 0.7;
}
.evento1:hover, .evento2:hover{
    opacity: 0.9;
}
